*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("./imgs/img_lupa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100vh;
  background-color: #555555;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  
}

header {
  background-color: #555555;
  color: #F2F2F2;
  padding: 2px;
  text-align: center;
}

header img {
  max-width: 100px;
}


.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  margin: 5%;
  gap: 10px 20px;
  flex-wrap: wrap;
}

.container__text{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 615px;
  
}

#texto {
  background: transparent ;
  width: 300px;
  height: 500px;
  box-sizing: content-box;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid #777777;
}




#resultado {
width: 300px;
height: 500px;
box-sizing: content-box;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid #777777;
}


.button-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; 
}

button {
font-family: Bebas Neue;
font-weight: 0;
font-size: 14px;
color: #F2F2F2;
background: linear-gradient(90deg, #333333 0%, #999999 100%);
padding: 10px 30px;
border: 2px solid #333333;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

button:hover{
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background: linear-gradient(90deg, #333333 0%, #999999 100%);
color: #333333;
border: solid 2px #333333;
}




footer {
  background-color: #555555;
  color: #F2F2F2;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}



